@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


.bg{
	/* Full height */
    height: 100%; 
	background-image: url("../images/questionBg.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.questionBg{
	/* Full height */
    height: 100%; 
	background-image: url("../images/questionBg.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}


.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;   
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1em;
    font-weight: 600;
}

.c-info {
    padding: 2px 2px;
    font-size: 1em;
}


.navbar-brand>img {
	-o-object-fit: contain; /* Opera Support */
	object-fit: contain; /* Resize down to fit container */
	max-height: 100%;
	/* resize DOWN to height of container which is set to 50px */
	height: 100%; /* resize UP to fit*/
	max-width: 100%;
	width: auto; /* resize based on height */
	margin: 0 auto;
}

/* Default Navbar Brand Settings. Use this to resize or move your logo up and down */
.navbar-brand {
	padding: 3px 3px;
	/*adjust the top/bottom padding if your logo looks too small */
	margin-top: 0px;
	/* you can adjust this if your logo needs to be moved up or down but simply adjusting the padding is easier */
	height: 50px;
	/* this should be equal to computed height of .navbar-nav>li>a */
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    /* margin-bottom: -1px; */
    background-color: transparent; 
    border: transparent;
    color:white;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}

.red{
    color:red;
    }
.form-area
{
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	margin-left:160px;
	}

