<!DOCTYPE html>
<html lang="en-US"  class="bg">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<!-- Latest compiled and minified CSS -->
<!-- jQuery library -->

<!-- Latest compiled JavaScript -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.5/angular-route.js"></script> 
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>



	
<body  class="bg">
	<script src="controllers/controller.js"></script>
	<nav class="navbar navbar-default" style="background-color: transparent; border-color: transparent;color:white">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img
					src="https://researchresults.files.wordpress.com/2014/07/icon_expert_coul-279x200.png"
					height="100" width="100"></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Questions Posted</a></li>
				<li><a href="question.html">Want to search a Question?</a></li>
				<!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
			</ul>
		</div>
	</nav>
	<div class="container" ng-app="myApp" ng-controller="appCtrl">
	<div class="row">
			<h2 style="color:white">Find an Expert</h2>
			<div id="custom-search-input">
				<div class="input-group col-md-12" ng-model="query">
					<input type="text" class="  search-query form-control"
						placeholder="Search" ng-model="searchKey"/> <span class="input-group-btn">
						<button class="btn btn-danger" type="button" ng-click='findExpert()'>
							<span class=" glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>
        <div class="col-xs-12  col-sm-6" style="margin-top:5px;background-color: transparent; border-color: transparent">
                
                <ul class="list-group" ng-repeat="user in searchList | filter:test" style="margin-bottom:0px">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-2">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" height="50" width="50"/>
                        </div>
                        <a class="btn btn-default" href ng-click="showUser(user._id)">
                        <div class="col-xs-12 col-sm-10">
                            <span class="name">{{user.firstName}} {{user.lastName}}</span><br/>
                            <span class="fa fa-star text-muted c-info" data-toggle="tooltip" title="Reputation" style="color:#E0BA20">
                             <span class="">:{{user.credits}}</span></span>
                            <span class="fa fa-arrow-up text-muted c-info" data-toggle="tooltip" title="Rank" style="color:#87B416">
                            <span class="">:1</span></span>
                            <span class="fa fa-users fa-1 text-muted c-info" data-toggle="tooltip" title="Team" style="color:#B6BB0F  ">
                            <span class="">:{{user.team}}</span></span>
                        </div>
                        </a>
                        <div class="clearfix"></div>
                    </li>
                </ul>
        </div>
        </div>
        <hr>
			<div class="form-group">
				<label for="comment" class="pull-left" style="color:white">Post your question</label>
				<textarea class="form-control" rows="5" id="question"></textarea>
				<button type="submit" class="btn btn-primary pull-right" style="margin:10px">Post Question</button>
			</div>
			     <script type="text/ng-template" id="templateId">
         <div class="modal fade panel panel-info" style="background-color:transparent;display:block;border:none">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color:#d9edf7">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="userName" class="modal-title" ></h4>
              </div>
              <div class="modal-body">
                              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center" > <img id="imageUrl" alt="User Pic" src="http://api.randomuser.me/portraits/men/49.jpg" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Expertise:</td>
                        <td id="skills"></td>
                      </tr>
                      <tr>
                        <td>Team:</td>
                        <td id="team"></td>
                      </tr>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td id="email"><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
     </script>
	</div>

     <!-- The actual modal template, just a bit o bootstrap -->

	
	
</body>
</html>