<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
		.questionList{
			padding: 10px;
			color: blue;
			font-size: 23px;
			cursor:pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			width:83%;
			float: left;
			border-top :1px solid gray;
		}
		
		.questionHead{
			font-size: 26px;
			border-bottom: 1px solid;
			width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.answerSection{
		    width: 92%;
			padding: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 26px;
		}
		.answerHead{
		    border-bottom: 1px solid;
			width: 95%;
			margin-top: 15px;
			font-size: 15px;
			font-weight: bold;
			clear: both;
		}
		.tagCss{
		    width: 125px;
			height: 20px;
			background-color: #E1ECF4;
			text-align: center;
			float: left;
			margin: 10px;
			cursor:pointer;
		}
		</style>
		</head>

		<!-- Latest compiled and minified CSS -->
		<!-- jQuery library -->

		<!-- Latest compiled JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<body style=" background-color: lightgray;">
			<ul class="nav navbar-nav" style="    margin: 12px;">
				<li class="active"><a href="index.html" style="color:antiquewhite;background-color:#337ab7">Home</a></li>
				<li><a href="question.html" style="color:antiquewhite;background-color:#337ab7;margin-left: 35px;">Discussion Forum?</a></li>
				<!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
			</ul>
			
			<script src="controllers/question.js"></script>
			<div ng-app="myApp" class ="container" ng-controller="appCtrl">
				
				<div id="custom-search-input" style=" margin: 50px;margin-left: 0px;">
					<div class="input-group col-md-12">
						<input type="text" id="searchId" ng-model="searchQuestion" class="search-query form-control" placeholder="Type Your Question Here"/>
						<span class="input-group-btn">
							<button class="btn btn-danger" type="button">
								<span class=" glyphicon glyphicon-search" ng-click="getQuestion()"></span>
							</button>
						</span>
					</div>
				</div>
				<div id="answerCol" style="margin: 10px;font-size: 15px;color: #a94442;font-weight: bold;" class="hide">
					<div style="width: 106px;float:left;">Total:{{questionTotal}}</div>
					<div style="margin-left: 80%;">IsAnswered</div>
				</div>
				<div id="qList" class="show col-xs-12  col-sm-12">
					<div ng-repeat="question in questionList | filter:searchQuestion"  >
						<div class="questionList col-sm-10" ng-click="getAnswer(question._id)"  ng-attr-title="{{question.publishedOn}} &nbsp;&nbsp;&nbsp;&nbsp;{{question.userName}}">{{question.title}}</div>
						<div class="col-sm-2" style="width: 50px; padding: 10px;border-top :1px solid gray;" ng-style="set_color(question.answered)">{{question.answered}}</div>
					</div>
				</div>
				<div id="questionTemplate" class="hide" style="">
				<div class=" ">
					<div class="questionHead">{{title}}</div>
					<div class=""><span>posted by-<a href="#">{{userName}}</a></span>&nbsp;&nbsp;<span ng-bind="publishedOn | date:'MM/dd/yyyy hh:mm:ss'"id="publishDate">on:</span></div>
					<div ng-repeat ="tag in tags">
						<div class="tagCss">{{tag}}</div>
					</div>
				</div>
					<div style="" class="answerHead"><span>{{ansCount}}</span>&nbsp;&nbsp;Answers:</div>
					<div ng-repeat ="answer in question.answers">
						<div style="border-bottom: 1px solid; width: 96%;">
							<div style="width: 60px;float: left;">
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="upVote(question._id,answer);">
									<i class="glyphicon glyphicon-chevron-up" style="color: green;"></i>
								</div>
								<div class="badge badge-inverse">
									<div>{{answer.credits}}</div>
								</div>
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="downVote(question._id,answer);">
									<i class="glyphicon glyphicon-chevron-down" style="color: red;"></i>
								</div>
							</div>
							<div class="answerSection">{{answer.content}}</div><div style="margin-left: 54%;"><span>-<a href="#">{{answer.userName}}</a></span>&nbsp;&nbsp;<span ng-bind="answer.publishedOn | date:'MM/dd/yyyy hh:mm:ss'"></span></div>
							<div ng-repeat="comment in answer.comments">
								<div style="width: 89%;margin-left: 73px;font-size: 13px;border-top: 1px solid;padding: 10px;">
									<div style="float: left;">{{comment.content}}</div>
									<span>-<a href="#">{{comment.userName}}</a></span>&nbsp;&nbsp;<span ng-bind="comment.publishedOn | date:'MM/dd/yyyy hh:mm:ss'"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="postAnswer" class="hide" style="margin:10px;">
					<div style="margin-top: 25px;margin-bottom: 25px;font-size: 20px;">Your Answer</div>
					<div>
						<form name="myForm">
							<textarea class="form-control" rows="5" ng-model="postedAnswer" id="answerId" style="width: 98%" required></textarea>
							<div id="postButtonId" style="float: right; margin: 20px;">  
								<button type="submit" class="btn btn-primary " ng-click="postAnswer(question._id,postedAnswer)">Post</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
		</body>
	</html>