<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		</head>

		<!-- Latest compiled and minified CSS -->
		<!-- jQuery library -->

		<!-- Latest compiled JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<body>
			<script src="controllers/controller.js"></script>
			

			<div ng-app="myApp" class ="container" ng-controller="appCtrl">
				<h1>User List</h1>
				<p>Type a keyword in the input field: </p>

				<p><input type="text" ng-model="test"></p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Credits</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Team</th>
							<th><button class="btn btn-primary" ng-click="refresh()">Refresh</button></th>
							<th><button class="btn btn-primary" ng-click="clearUser()">Clear</button></th>
						</tr>
						<tr>
						<form name="myForm">
							<td><input type="text" ng-model="user.credits" required></td>
							<td><input type="text" ng-model="user.firstName" required></td>
							<td><input type="text" ng-model="user.lastName" required></td>
							<td><input type="text" ng-model="user.team" required></td>
							<td><button class="btn btn-primary" ng-click="adduser()">Add  User</button></td>
							<td><button class="btn btn-primary" ng-click="updateUser()">Update  User</button></td>
						</form>
						</tr>
						<tbody>
						<tr ng-repeat="user in userList | filter:test">
							<td>
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="upVote(user._id, user);">
									<i class="glyphicon glyphicon-chevron-up" style="color: green;"></i>
								</div>
								<div class="badge badge-inverse">
									<div>{{user.credits}}</div>
								</div>
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="downVote(user._id, user);">
									<i class="glyphicon glyphicon-chevron-down" style="color: red;"></i>
								</div>
							</td>
							<td style="padding-top: 30px;">{{user.firstName}}</td>
							<td style="padding-top: 30px;">{{user.lastName}}</td>
							<td style="padding-top: 30px;">{{user.team}}</td>
							<td><button style="margin-top: 15px;" class="btn btn-info" ng-click="editUser(user._id)">Edit</button></td>
							<td><button style="margin-top: 15px;" class="btn btn-danger" ng-click="deleteUser(user._id)">Delete</button></td>
						</tr>
						</tbody>
					</thead>
				</table>
			</div>

			<div style=" margin-left: 190px; cursor:pointer;">
				<ul class="pagination">
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
		</body>
	</html>