<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		</head>

		<!-- Latest compiled and minified CSS -->
		<!-- jQuery library -->

		<!-- Latest compiled JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<body>
			<script src="controllers/controller.js"></script>
			

			<div ng-app="myApp" class ="container" ng-controller="appCtrl">
				<h1>Contact List</h1>
				<p>Type a letter in the input field:</p>

				<p><input type="text" ng-model="test"></p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Rating</th>
							<th>Name</th>
							<th>Email</th>
							<th>Number</th>
							<th>Action</th>
							<th><td><button class="btn btn-primary" ng-click="refresh()">Refresh</button></td></th>
						</tr>
						<tr>
						<form name="myForm">
							<td><input type="text" ng-model="contact.rating" required></td>
							<td><input type="text" ng-model="contact.name" required></td>
							<td><input type="text" ng-model="contact.email" required></td>
							<td><input type="text" ng-model="contact.number" required></td>
							<td></td>
							<td></td>
							<td><button class="btn btn-primary" ng-click="addContact()">Add  Contact</button></td>
							<td><button class="btn btn-primary" ng-click="updateContact()">Update  Contact</button></td>
							<td><button class="btn btn-primary" ng-click="clearContact()">Clear</button></td>
						</form>
						</tr>
						<tbody>
						<tr ng-repeat="contact in contactList | filter:test">
							<td>
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="upVote(contact._id,contact);">
									<i class="glyphicon glyphicon-chevron-up" style="color: green;"></i>
								</div>
								<div class="badge badge-inverse">
									<div>{{contact.rating}}</div>
								</div>
								<div style = "margin-left: 7px; cursor: pointer;" class="votingButton" ng-click="downVote(contact._id,contact);">
									<i class="glyphicon glyphicon-chevron-down" style="color: red;"></i>
								</div>
							</td>
							<td style="padding-top: 30px;">{{contact.name}}</td>
							<td style="padding-top: 30px;">{{contact.email}}</td>
							<td style="padding-top: 30px;">{{contact.number}}</td>
							<td><button style="margin-top: 15px;" class="btn btn-info" ng-click="editContact(contact._id)">Edit</button></td>
							<td><button style="margin-top: 15px;" class="btn btn-danger" ng-click="deleteContact(contact._id)">Delete</button></td>
						</tr>
						</tbody>
					</thead>
				</table>
			</div>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
		</body>
	</html>